@using Microsoft.AspNetCore.Authorization
@inject IAuthorizationService authorizationService

@{
    var resultAuthorize = await authorizationService.AuthorizeAsync(this.User, "ShowAdminMenu");
}
@if (resultAuthorize.Succeeded)
{
    <li class="dropdown nav-item">
        <a class="nav-item nav-link dropdown-toggle mr-md-2" href="#" data-bs-toggle="dropdown" aria-expanded="false">
            Manager
        </a>

        <ul class="dropdown-menu dropdown-menu-right">
            <li><a class="dropdown-item" asp-page="/Role/Index" asp-area="Admin">Manage Role</a></li>
            <li><a class="dropdown-item" asp-page="/User/Index" asp-area="Admin">Manage User Role</a></li>

        </ul>
    </li>
}