@page "/admin/edit-user-claim/{userid?}"
@model App.Admin.User.EditUserRoleClaimModel
@{
    ViewData["Title"] = "Edit User Role Claim";
}
<partial name="_StatusMessage" for="StatusMessage" />
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Input.ClaimType" class="control-label"></label>
                <input asp-for="Input.ClaimType" class="form-control" />
                <span asp-validation-for="Input.ClaimType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.ClaimValue" class="control-label"></label>
                <input asp-for="Input.ClaimValue" class="form-control" />
                <span asp-validation-for="Input.ClaimValue" class="text-danger"></span>
            </div>

            <div class="form-group mt-2 ">
                @if (Model.userClaim != null)
                {
                    <input type="submit" value="Update" class="btn btn-primary" />
                    <input type="submit" asp-route-claimid="@Model.userClaim.Id" value="Delete" class="btn btn-danger"
                        asp-page-handler="DeleteClaim" />
                }
                else
                {
                    <input type="submit" value="Create" class="btn btn-primary" />
                }

                <a asp-page="./AddRole" asp-route-userid="@Model.user.Id" class="btn btn-secondary">Edit User</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}